body {
  font-family: "Pretendard Variable", "Pretendard", Arial, "Malgun Gothic", sans-serif !important;
  color: #000;
  font-size: 14px;
  letter-spacing: -0.2px;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: #fff;
}

#header-inner {
  display: flex;
  justify-content: space-between;
  width: 1280px;
}

#header-inner > a {
  display: flex;
  align-items: center;
}

nav > ul {
  display: flex;
  gap: 20px;
}

nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 120px;
  height: 120px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

nav > ul > li:nth-child(6) > a {
  gap: 5px;
}

/* section1 비디오 */
#section1 {
  padding-top: 220px;
  height: 1500px;
}

#section1-txt {
  text-align: center;
}

#section1-txt > span {
  line-height: 48px;
  font-size: 32px;
  font-weight: 700;
}

#section1-txt > p {
  line-height: 89px;
  font-size: 64px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 800;
}

#section1-video-inner {
  text-align: center;
  clip-path: inset(0px calc(50% - 315px) round 20px);
}

#section1-logos {
  position: absolute;
  top: 684px;
}

#section1-logos > ul {
  display: flex;
  gap: 56px;
  animation: logoflow 10s linear infinite;
}

@keyframes logoflow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#section1-logos > ul:hover {
  animation-play-state: paused;
}

#section1-logos > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 100px;
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 999px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

/* section2 슬레이트 */
#section2 {
  height: 100vh;
}

.section2-txt {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh / 2);
  position: absolute;
  z-index: 1;
  background-color: #fff;
}

.section2-txt.section2-slate-up {
  top: 0;
  align-items: end;
}

.section2-txt.section2-slate-down {
  top: calc(100vh / 2);
}

.section2-txt > span {
  font-size: 64px;
  font-weight: 800;
  line-height: 89px;
}

#section2-slate-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section2-slate-video > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* section3 줌 */
#section3 {
  height: 100vh;
  background-color: #000;
}

#section3-zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  clip-path: inset(50%);
  background-color: #fff;
}

#section3-txt {
  font-size: 44px;
  font-weight: 800;
  line-height: 89px;
  text-align: center;
}

#section3-txt > img {
  vertical-align: middle;
}

/* section4 웨이브 */
#section4 {
  height: 100vh;
}

#section4 > img {
  position: absolute;
  top: 400px;
  left: 0;
  width: 100%;
}

#section4-wave {
  display: flex;
  width: 302%;
  height: 100vh;
}

.wave-panel {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wave-panel-inner {
  height: 559px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wave-panel-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wave-panel-top > span {
  font-size: 20px;
  line-height: 34px;
  color: #333;
}

.wave-panel-top > a {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  display: flex;
  gap: 5px;
  align-items: center;
}

.wave-panel-top > a > img {
  width: 20px;
}

.wave-panel-bottom {
  display: flex;
  flex-direction: column;
}

.wave-panel-no {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #2d3ebd;
}

.wave-panel-title {
  font-size: 90px;
  font-weight: 800;
  line-height: 135px;
}

/* 푸터 */
footer {
  border-top: 1px solid #eee;
}

#footer-inner {
  width: 1280px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#footer-left > p {
  font-weight: 600;
}

#footer-left > span {
  font-size: 12px;
  color: #999;
}

#footer-right {
  position: relative;
  box-sizing: border-box;
  width: 180px;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-right > ul {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 180px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  display: none;
}

#footer-right:hover > ul {
  display: block;
}

#footer-right > ul > li > a {
  text-decoration: none;
  display: block;
  padding: 9.5px 14px;
  color: #666;
  border-radius: 4px;
}

#footer-right > ul > li > a:hover {
  color: #000;
  background-color: #f8f8f8;
}

/* TOP 버튼 */
#scroll-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 99px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  cursor: pointer;
}
